{% extends 'base.html'%}

{% block content %}

{% if user.username in observers or user.username == habit.owner.username %}
<div id='data-holder' data-pk={{habit.pk}} data-owner={{habit.owner.username}} data-user={{user.username}}>
</div>

<div class="logs-container">
    <div class="habit-container">
        <section class='habit-content'>
            <h2 class="title">{{habit.title}}</h2>
            <p class="description">My goal is {{habit.goal}} {{habit.units}} per day.</p>
            <div class="links-container">
                <a href="{% url 'add_log'%}?habit={{habit.pk}}">Add log</a>
                |
                <a href="{% url 'add_observer' habit.pk%}">Add an observer</a>
                |
                <a class="habit-link delete" href="{% url 'delete_habit' habit.pk %}">Delete habit</a>
                |
                <a class="habit-link edit" href="{% url 'edit_habit' habit.pk %}"><i
                        class="material-icons md-18">create</i></a>
            </div>
        </section>

        <section class='observer-list'>
            {% if observers %}
            <p class='list-describe'>Observers you've added to this habit:</p>
            <ul class="observer-list">
                {% for observer in observers %}
                <li>{{observer}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </div>

    <table>
        <thead>
            <tr>
                <th colspan="2">Daily logs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Date</td>
                <td>Achievement </td>
            </tr>
            {% for log in logs %}
            <tr>
                <td class="date" data-date="{{log.date|date:'Y-m-d'}}">
                    {{log.date}}
                    <a href="/edit-log/?habit={{habit.pk}}&date={{log.date|date:'Y-m-d'}}">
                        <i class="material-icons md-18">create</i>
                    </a>
                </td>
                <td class="achievement">{{log.achievement}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p class="warning">
    {{user.username}} must be added as an observer by the owner of this habit to view this page.
</p>
{% endif %}

{% endblock content %}