{% extends 'base.html'%}

{% block content %}

<div class="records-container">

    <div id='data-holder' data-pk={{habit.pk}}></div>

    <div class="center">


        <div class="habit-container">
            <section class='habit-content'>
                <h2 class="title">{{habit.title}}</h2>
                <p class="description">My goal is {{habit.goal}} {{habit.units}} per day.</p>
                <a class="button" href="{% url 'habit_record' habit.pk %}">Add record</a>
            </section>
        </div>

        <table>
            <thead>
                <tr>
                    <th colspan="2">Daily Records</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>Achievement </td>
                </tr>
                {% for record in records %}
                <tr>
                    <td class="date" data-date="{{record.date}}">{{record.date}}</td>
                    <td class="achievement">{{record.achievement}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock content %}